{% extends 'layouts/default.html' %}
<!--Active page is set for the menu-->
{% set active_page = "about" %}
{% block title %}A propos de {{ super()}}{% endblock %}
{% block body %}
<div class="container">
        <h1>A propos</h1>
        <p>GrandPy Bot est un projet effectué dans le cadre de la formation OpenClassrooms Développeur d'applications
           Python.</p>
        <p>Le but du projet est de créer un bot qui peut analyser les phrases qui lui sont écrites et aller requêter
            différentes informations sur Google Maps ainsi que Wikipedia.</p>
</div>
{% endblock %}